<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/register.css">
    <title>Login</title>
</head>
<body>
    <h1>Latiance</h1>
    <form method=POST action="/register" class="form">
        <input type=email name="email" placeholder="Email">
        <input type=password name="password" placeholder="Password">
        <input type=submit value=Register>
    </form>
    <h2>Registered? Try<a href="/login">logging in</a></h2>
</body>
</html>